openapi: 3.0.3
info:
  title: UltraDNS API Documentation
  description: |
    # Introduction

    The UltraDNS REST API lets you manage DNS resources programmatically and test changes in a non-production environment.

    ## What you can do
    - Create and test API calls in a controlled test environment that mimics production.
    - Manage UltraDNS objects using REST requests.
    - Use the API as an alternative to the UltraDNS Managed Services Portal.

    ## Base URLs

    | Environment | Base URL | Purpose |
    |-------------|----------|---------|
    | Customer test | `https://test-api.ultradns.com` | Configuration and change testing |
    | Production | `https://api.ultradns.com` | Configuration and changes |

    All URI examples use the production URL. You may test calls against the customer test environment. The test environment has limitations; contact customer support for details.

    ## Request and response formats

    The API accepts and returns XML or JSON. JSON is preferred and is the default response format (even if the request is XML).

    | Header | Values | Purpose |
    |--------|--------|---------|
    | `Content-Type` | `application/json` or `application/xml` | Request body format |
    | `Accept` | `application/json` or `application/xml` | Desired response format |

    JSON Patch is supported for updates. Use `PATCH` with `Content-Type: application/json-patch+json`.

    ## API versioning

    To target a particular API version, include it it in the request path (i.e. `/v1/`, `/v2/` or `/v3`). When omitted, the most recent production version is used.

    Some calls differ by version:

    | API area | Behavior |
    |----------|----------|
    | Directional update | Updating a Directional Pool record-level TTL is not supported with `/v1/`. |
    | Deprecated ISO codes | Directional API calls using `/v1/` return different Geo-ISO details than `/v2` (default). |
    | Batch API | Batch API calls work **only** with `/v1/`. |
    | Batch Query API | Batch Query API calls work **only** with `/v1/`. |
    | Reporting APIs | Reporting APIs no longer require a separate "Authentication" token; use the standard REST API authorization token. |
    | Reporting APIs (link headers) | Response Link Headers for additional report results work **only** with `/v1/`. |

    ## Data Transfer Objects (DTOs)

    A Data Transfer Object (DTO) is the structured data sent or returned by an API call. Fields may be simple types, comma-separated lists (where allowed), or nested DTOs.

    Example (Primary Zone creation): the Zone Create DTO includes:
    - `properties` — Zone API properties.
    - `primaryCreateInfo` — Primary Zone settings.

    Nested DTOs can include structures such as Restrict IP or Notify Address.

    ## Responses

    All operations return an HTTP status code.

    | HTTP | Meaning | Typical use | Notes |
    |------|---------|-------------|-------|
    | 200 | OK | `GET`, `PUT`, `PATCH` | Returns the requested or updated DTO when applicable. |
    | 201 | Created | `POST` | Resource created. |
    | 202 | Accepted | Async operations | Includes `X-Task-ID` header; work is pending. |
    | 204 | No Content | `DELETE` | Deletion succeeded; no body. |

    Errors return `4xx` or `5xx` with an UltraDNS error payload:

    ```json
    [
      {
        "errorCode": 1801,
        "errorMessage": "Zone does not exist in the system."
      }
    ]
    ```

    System-level database errors may return code `9999` with a system error message.

    ## 429 Too Many Requests

    Returned when too many requests come from the same customer or IP address in a short period, to protect service reliability and security.

    Tips to avoid 429 responses:

    * Reuse your authorization token instead of creating a new token for every call (tokens are reusable for up to 1 hour).
    * Add a short delay (0.5–1.0 seconds) between consecutive requests when necessary.

    ## Supported record types

    | Record Type                                 | ID  |
    | ------------------------------------------- | --- |
    | A — IPv4 Address                            | 1   |
    | NS — Name Server                            | 2   |
    | CNAME — Canonical Name                      | 5   |
    | SOA — Start of Authority                    | 6   |
    | PTR — Pointer                               | 12  |
    | HINFO — Host Information                    | 13  |
    | MX — Mail Exchange                          | 15  |
    | TXT — Text                                  | 16  |
    | RP — Responsible Person                     | 17  |
    | AAAA — IPv6 Address                         | 28  |
    | LOC — Location                              | 29  |
    | SRV — Service Locator                       | 33  |
    | NAPTR — Naming Authority Pointer            | 35  |
    | DS — Delegation Signer                      | 43  |
    | SSHFP — SSH Fingerprint                     | 44  |
    | TLSA — TLS Association                      | 52  |
    | SVCB — Service Binding                      | 64  |
    | HTTPS — HTTPS Service Binding               | 65  |
    | SPF — Sender Policy Framework               | 99  |
    | CAA — Certification Authority Authorization | 257 |
    | APEXALIAS — Apex Alias                      | 65282 |
  version: 0.1.2
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: UltraDNS
    url: https://dns.ultraproducts.support
    email: ultradnssupport@digicert.com
  termsOfService: https://www.digicert.com/security-terms
servers:
  - url: https://api.ultradns.com
    description: Primary UltraDNS API
  - url: https://test-api.ultradns.com
    description: Test UltraDNS API
security:
  - oauth2: []
tags:
  - name: Authorization
    description: |
      Obtain and refresh auth tokens via the OAuth 2.0 Resource Owner Password Credentials (ROPC) grant. Requires an UltraDNS API username and password.
  - name: Platform
    description: |
      Health, version, and connectivity checks for monitoring and compatibility.
  - name: Tasks
    description: |
      Track asynchronous operations (e.g., exports, snapshots). 202 responses include an `X-Task-ID` header; use it to check status and retrieve results.
  - name: Zones
    description: |
      Manage DNS zones: create, read, update, delete; export zone files; capture snapshots.
  - name: Records
    description: |
      Manage resource record sets (RRSets) within a zone (list, read, upsert via `rdata` and TTL, delete). `rdata` uses the BIND presentation format.
  - name: Account Settings
    description: |
      Manage account-level settings including notifications, security preferences, and push notifications. Configure various account settings such as zone transfer notifications, usage notifications, and webhook endpoints.
paths:
  /authorization/token:
    post:
      tags:
        - Authorization
      summary: Manage Auth Token
      description: |
        Issue or refresh an UltraDNS API access token.

        **Notes**
        - Repeated failed logins may trigger temporary lockout.
        - Only one refresh token is valid at a time; obtaining new credentials invalidates the previous refresh token.
        - Users with “API Only Access” can authenticate to the API but cannot sign in to the Portal.
      operationId: manageAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - password
                    - refresh_token
                  description: The OAuth2 grant type to use for authentication
                username:
                  type: string
                  description: The username for your account. Required when grant_type is 'password'.
                password:
                  type: string
                  description: The password for your account. Required when grant_type is 'password'.
                refresh_token:
                  type: string
                  description: The Refresh Value token taken from the Authorization API call. Required when grant_type is 'refresh_token'.
                expire_in:
                  type: integer
                  description: Set the duration, in seconds, in which the Refresh Token will expire. Only applies to refresh_token grant type. Optional field - if not provided, defaults to 604800 (7 days). Allowed Value = 1 - 604800
            examples:
              Password Grant:
                summary: Authenticate with username and password
                value:
                  grant_type: password
                  username: doc-example
                  password: mypass123
                  expire_in: 86400
              Refresh Token Grant:
                summary: Refresh access token using refresh token
                value:
                  grant_type: refresh_token
                  refresh_token: 2b217543b15fdedffe95387ff0a383d47ab37615d7
                  expire_in: 86400
      responses:
        '200':
          description: Refresh Token / Generate Auth Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              examples:
                Generate Auth Token:
                  value:
                    accessToken: eolraOeTINu6WHeS.zUc4sS1vUKjzmKe9QyJecMeG1XN1TqwI3eXGC0sRbco.3VjD74_dMLWk2ec3vUXPUcIb4zH3K4fS
                    access_token: eolraOeTINu6WHeS.zUc4sS1vUKjzmKe9QyJecMeG1XN1TqwI3eXGC0sRbco.3VjD74_dMLWk2ec3vUXPUcIb4zH3K4fS
                    expiresIn: '3600'
                    expires_in: '3600'
                    refreshToken: 2b217543b15fdedffe95387ff0a383d47ab37615d7
                    refresh_token: 2b217543b15fdedffe95387ff0a383d47ab37615d7
                    tokenType: Bearer
                    token_type: Bearer
                    username: doc-example
                Refresh Token:
                  value:
                    accessToken: q3hpnHtaHHfLzTq_.HFBMZ45a99dt5H_jOh0tLqrmDVhyCvE7EHlOe7DZ2F8.YvogkldtGkb9fNJ_vihT2ORGQpM_kRU7
                    access_token: q3hpnHtaHHfLzTq_.HFBMZ45a99dt5H_jOh0tLqrmDVhyCvE7EHlOe7DZ2F8.YvogkldtGkb9fNJ_vihT2ORGQpM_kRU7
                    expiresIn: '3600'
                    expires_in: '3600'
                    refreshToken: 729dd9ba9ddaeab58fcdb9615f50f5dadd715f4d72
                    refreshTokenExpiresIn: '86400'
                    refresh_token: 729dd9ba9ddaeab58fcdb9615f50f5dadd715f4d72
                    refresh_token_expires_in: '86400'
                    tokenType: Bearer
                    token_type: Bearer
                    username: doc-example
        '401':
          $ref: '#/components/responses/Error401'
        5XX:
          $ref: '#/components/responses/Error5xx'
      security:
        - {}
  /version:
    get:
      tags:
        - Platform
      summary: Get Version
      description: The version call provides the version of the REST API currently in production. This call does not require an Authorization header to be specified, which allows it to be used to verify that there are no networking issues between a client and the REST API server.
      operationId: getVersion
      responses:
        '200':
          description: Get Version
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: 3.108.0-20250804151109.a1bbd8c
              examples:
                Get Version:
                  value:
                    version: 3.108.0-20250804151109.a1bbd8c
        5XX:
          $ref: '#/components/responses/Error5xx'
      security:
        - {}
  /status:
    get:
      tags:
        - Platform
      summary: Get Status
      description: The status call provides a simple way to determine if the REST API is running, and to make sure you are connecting to the UltraDNS Portal with proper authorization.
      operationId: getStatus
      responses:
        '200':
          description: Get Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Good
              examples:
                Get Status:
                  value:
                    message: Good
        '401':
          $ref: '#/components/responses/Error401'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /tasks:
    get:
      tags:
        - Tasks
      summary: Get the List of Tasks
      description: Retrieves a list of all tasks for the current user with optional filtering and pagination.
      operationId: getTasks
      parameters:
        - $ref: '#/components/parameters/QueryParams'
          description: |
            The query used to construct the list. Query operators are code and hasData.

            Valid values for code are:
            - PENDING
            - IN_PROCESS
            - COMPLETE
            - ERROR

            Valid values for hasData are TRUE or FALSE. Default value of hasData is NULL. Query operators need be followed by a colon ( : ).

            Example:
            - q="code:COMPLETE"
            - q="hasData:TRUE"
            - q="code:COMPLETE hasData:TRUE"
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/TaskSort'
        - $ref: '#/components/parameters/Reverse'
        - $ref: '#/components/parameters/TaskType'
      responses:
        '200':
          description: List of tasks retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TaskList'
                  - $ref: '#/components/schemas/ReportTaskList'
              examples:
                Task List:
                  summary: Regular task list (default)
                  value:
                    tasks:
                      - taskId: 0b40c7dd-748d-4c49-8506-26f0c7d2ea9c
                        code: COMPLETE
                        message: Processing complete
                        resultUri: /tasks/0b40c7dd-748d-4c49-8506-26f0c7d2ea9c/result
                    queryInfo:
                      q: code:COMPLETE
                      sort: CODE
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
                Report Task List:
                  summary: Report task list (when taskType=reporting)
                  value:
                    tasks:
                      - taskId: ZQV-013d3c5c-7b14-4ff0-b4af-453b76a827b6
                        code: COMPLETE
                        message: Completed ZQV Report Successfully.
                        lastModifiedDateTime: '2016-08-26T12:33:22.000Z'
                        resultUri: https://api.ultradns.com/reports/tasks/ZQV-013d3c5c-7b14-4ff0-b4af-453b76a827b6
                      - taskId: PQV-003f098b-a2df-437e-8482-65e8d93b4858
                        code: COMPLETE
                        message: Completed PQVReport Successfully.
                        lastModifiedDateTime: '2016-08-26T12:33:22.000Z'
                        resultUri: https://api.ultradns.com/reports/tasks/PQV-003f098b-a2df-437e-8482-65e8d93b4858
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /tasks/{taskId}:
    get:
      tags:
        - Tasks
      summary: Get the Status of a Task
      description: Retrieves the current status of a background task.
      operationId: checkTask
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Task status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples:
                Check Task:
                  value:
                    taskId: 605b23e4-edb9-4f23-ae2d-33fe24d6033f
                    code: COMPLETE
                    message: domain.com. export completed.
                    resultUri: /tasks/605b23e4-edb9-4f23-ae2d-33fe24d6033f/result
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    delete:
      tags:
        - Tasks
      summary: Delete a Task
      description: This call will remove information from the system for a task that has completed or is in an error-state.
      operationId: deleteTask
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '204':
          $ref: '#/components/responses/NoContentGeneric'
          description: Task deleted successfully
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /tasks/{taskId}/result:
    get:
      tags:
        - Tasks
      summary: Get the Results of a Task
      description: Retrieves the final result of a completed background task.
      operationId: taskResult
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: Task result file downloaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: The task result content as a string
                required:
                  - content
              description: The task result as a downloadable file. The filename will be the taskId and the content type will be determined by the background task.
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones:
    post:
      tags:
        - Zones
      summary: Create a Zone
      description: The Create Zone API allows you to create a Primary, Secondary, or Alias Zone, and furthermore, allows you to create a Zone "from scratch" by copying another zone via an uploaded file or by Zone transfer.
      operationId: createZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreate'
            examples:
              New Primary Zone:
                summary: Create a Primary Zone from scratch
                value:
                  properties:
                    name: primary-example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    forceImport: true
                    createType: NEW
                  changeComment: Created as agreed
              New Primary Zone Copied from Another Zone:
                summary: Create a Primary Zone by copying an existing zone
                value:
                  properties:
                    name: copy-example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    forceImport: true
                    createType: COPY
                    originalZoneName: example.cm.
          multipart/form-data:
            description: |
              Create a zone by uploading a BIND file along with zone creation parameters. Use this when creating a zone from a BIND file upload.

              **Important Notes:**
              - The `zone` field should contain the zone creation parameters as JSON
              - The `file` field should contain the BIND file content
              - Both fields are required for file uploads
            schema:
              type: object
              properties:
                zone:
                  type: object
                  description: |
                    Zone creation parameters in JSON format. Must include createType: "UPLOAD" for file uploads.
                  example:
                    properties:
                      name: example.com.
                      accountName: example
                      type: PRIMARY
                    primaryCreateInfo:
                      forceImport: true
                      createType: UPLOAD
                    changeComment: Created from BIND file upload
                file:
                  type: string
                  format: binary
                  description: |
                    The BIND file containing zone data. The file should contain DNS records in BIND format.

                    **BIND File Format:**
                    - Each line represents a DNS record
                    - Records can span multiple lines using parentheses
                    - Comments start with semicolon (;)
                    - $ORIGIN directive sets the zone origin
                    - Records without owner name inherit from the last stated owner
                    - Records with owner name reset the owner context
                  example: |
                    ;File created: 12/04/2019 12:07
                    ;Record count: 20
                    $ORIGIN example.com.
                    @    86400    IN    SOA udns1.ultradns.net. BindZone\.testzone.example.biz. (
                            2019041222    ;Serial
                            86400        ;Refresh
                            86400        ;Retry
                            86400        ;Expire
                            86400        ;Minimum
                        )
                    @    86400    IN    NS    udns1.ultradns.net.
                    @    86400    IN    NS    udns2.ultradns.net.
                    www    300    IN    A    192.168.1.1
                    mail   300    IN    A    192.168.1.2
                    @      300    IN    MX   10 mail.example.com.
              required:
                - zone
                - file
            encoding:
              zone:
                contentType: application/json
              file:
                contentType: text/plain
      responses:
        '201':
          $ref: '#/components/responses/CreatedGeneric'
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        5XX:
          $ref: '#/components/responses/Error5xx'
    get:
      tags:
        - Zones
      summary: List Zones
      description: |
        Retrieves all zones in your account. The response returns an array of zone objects, each including details such as zone name, status, default TTL, and name servers.

        ## Query Parameter (q)

        The `q` parameter allows filtering zones using various operators. Multiple operators can be combined using the `+` separator.
        Format: `query_param:value+query_param_2:value`

        **Query Operators:**

        - **name**: Name of the zone (allowing for partial string matches)
        - **zone_type**: Returns zones of an identified type. If not specified, all zone types are returned
        - **zone_status**: Returns zones with the identified status. Active zones are returned if not specified
        - **account_name**: Returns zones based upon the account. If not specified, zones of all accounts that the user has access to will be returned
        - **network**: Only applicable for accounts with the UltraDNS2 feature enabled. Returns zones on specific networks

        **Zone Type Values:**

        | Value | Description |
        |-------|-------------|
        | ALIAS | Alias zones |
        | PRIMARY | Primary zones |
        | SECONDARY | Secondary zones |

        **Zone Status Values:**

        | Value | Description |
        |-------|-------------|
        | ACTIVE | Active zones only |
        | SUSPENDED | Suspended zones only |
        | ALL | All zones regardless of status |

        **Network Values:**

        | Value | Description |
        |-------|-------------|
        | ultra1 | Standard UltraDNS network |
        | ultra2 | UltraDNS2 service network |

        **Query Examples:**
        - `zone_status:ALL+network:ultra2` - All zones on UltraDNS2 network
        - `zone_type:PRIMARY+account_name:myaccount` - Primary zones for specific account
        - `name:example+zone_status:ACTIVE` - Active zones with "example" in the name
      operationId: listZones
      parameters:
        - $ref: '#/components/parameters/QueryParams'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Reverse'
      responses:
        '200':
          description: List Zones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZonesList'
              examples:
                List Zones:
                  value:
                    queryInfo:
                      q: zone_status:ALL network:ultra2
                      sort: name
                      reverse: false
                      limit: 50
                    cursorInfo:
                      next: c3ViLnVsdHJhZG5zMnRlc3QuY29tLjpORVhU
                      last: fjpMQVNU
                    zones:
                      - properties:
                          name: testzone1.com.
                          accountName: testaccount1
                          type: PRIMARY
                          dnssecStatus: SIGNED
                          status: ACTIVE
                          owner: testuser1
                          resourceRecordCount: 4826
                          lastModifiedDateTime: '2025-08-22T13:12:00Z'
                          ultra2: true
                      - properties:
                          name: testzone2.com.
                          accountName: testaccount2
                          type: PRIMARY
                          dnssecStatus: UNSIGNED
                          status: ACTIVE
                          owner: testuser2
                          resourceRecordCount: 9
                          lastModifiedDateTime: '2025-08-21T13:26:00Z'
                          ultra2: true
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/export:
    post:
      tags:
        - Zones
      summary: Export a Zone
      description: Exporting a Zone will create a task to export the zone details into a BIND file. Once the task has been completed the BIND file can be downloaded.
      operationId: exportZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zoneNames:
                  type: array
                  items:
                    type: string
                  description: The name or names of the zones that are being exported, with or without the trailing dot.
                  example:
                    - name.com
                    - name2.com.
              required:
                - zoneNames
            examples:
              Export Single Zone:
                summary: Export a single zone
                value:
                  zoneNames:
                    - example.com
              Export Multiple Zones:
                summary: Export multiple zones
                value:
                  zoneNames:
                    - name.com
                    - name2.com.
      responses:
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/snapshot-eligible:
    get:
      tags:
        - Zones
      summary: List Zone Snapshot Eligibility
      description: Returns the list of eligible zones and the existing Snapshot date with description, if any exist.
      operationId: listZoneSnapshotEligible
      parameters:
        - $ref: '#/components/parameters/QueryParams'
          description: |
            The query used to construct the list. Format: `query_param:value+query_param_2:value`

            Example: `name:abc`

            Query operators are:

            - **name** - Name of the zone (allowing for partial string matches).
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Reverse'
      responses:
        '200':
          description: List Zone Snapshot Eligibility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneSnapshotEligibleList'
              examples:
                List Zone Snapshot Eligibility:
                  value:
                    zones:
                      - zoneName: abc.com.
                        snapshots:
                          - date: '2018-09-24T14:59:18.208Z'
                            description: Description for snapshot purpose
                      - zoneName: abc1.com.
                        snapshots:
                          - date: '2018-12-03T10:59:38.208Z'
                            description: Description for snapshot purpose
                    queryInfo:
                      q: name:abc
                      limit: 100
                      reverse: false
                      sort: name
                    resultInfo:
                      totalCount: 2
                      offset: 0
                      returnedCount: 2
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}:
    put:
      tags:
        - Zones
      summary: Update a Zone
      description: |
        The Update Zone call allows you to update certain aspects of either a Primary or a Secondary Zone. You cannot use this call to:

        - Update an Alias Zone.
        - Specify Primary Name Servers for a Primary zone.
        - Specify restrict IPs, TSIG, or Notify addresses for a Secondary Zone.

        As this is a FULL update (replacing data) for Primary Zone updates, you must include any necessary restrict IPs, Notify addresses, or Primary Name Servers that apply. Any data not included with the update will be deleted from the Primary Zone.
      operationId: updateZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreate'
            examples:
              Update Restrict IP for Primary Zone:
                summary: Update Restrict IP information for Primary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    restrictIPList:
                      - startIP: 10.20.30.40
                        endIP: 20.20.20.20
                        comment: Comment
                  changeComment: Updating zone
              Update TSIG and Notify for Primary Zone:
                summary: Update TSIG and Notify information for Primary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    tsig:
                      tsigKeyName: Key
                      tsigKeyValue: This would be a hash if it was real
                      description: TSIG for primary-example.com
                      tsigAlgorithm: hmac-sha256
                    notifyAddresses:
                      - notifyAddress: 2.4.5.6
                        description: East Coast Server
                      - notifyAddress: 5.6.7.8
                        description: West Coast Server
                  changeComment: Updating TSIG and notify addresses
              Update Primary Name Servers for Secondary Zone:
                summary: Update Primary Name Server information for Secondary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: SECONDARY
                  secondaryCreateInfo:
                    primaryNameServers:
                      nameServerIpList:
                        nameServerIP1:
                          ip: 1.2.3.4
                          tsigKey: key1
                          tsigKeyValue: value1
                        nameServerIP2:
                          ip: 2.4.5.6
                          tsigKey: key2
                          tsigKeyValue: value2
                        nameServerIP3:
                          ip: 3.4.5.6
                          tsigKey: key3
                          tsigKeyValue: value3
                  changeComment: Updating primary name servers
      responses:
        '200':
          description: Zone updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    patch:
      tags:
        - Zones
      summary: Partially Update a Zone
      description: |
        The Partial Update a Zone call is used to:

        - Update the restrictIPs, TSIG key, and/or Notify Address information for a Primary zone without having to explicitly list all of them. Any Restrict IPs, TSIGs or Notify Addresses not included in the call are retained on the server.
        - Update the Primary Name Servers for a Secondary zone without having to explicitly list all of them. Any Primary Name Servers not included in the call are retained on the server.

        Alias zones cannot be updated.
      operationId: partiallyUpdateZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreate'
            examples:
              Partial Update Restrict IP for Primary Zone:
                summary: Partially update restrict IP information for Primary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    restrictIPList:
                      - startIP: 10.20.30.40
                        endIP: 20.20.20.20
                        comment: New restrict IP range
                  changeComment: Adding new restrict IP range
              Partial Update TSIG for Primary Zone:
                summary: Partially update TSIG information for Primary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: PRIMARY
                  primaryCreateInfo:
                    tsig:
                      tsigKeyName: NewKey
                      tsigKeyValue: This would be a hash if it was real
                      description: New TSIG key for example.com
                      tsigAlgorithm: hmac-sha256
                  changeComment: Updating TSIG key
              Partial Update Primary Name Servers for Secondary Zone:
                summary: Partially update primary name servers for Secondary Zone
                value:
                  properties:
                    name: example.com.
                    accountName: example
                    type: SECONDARY
                  secondaryCreateInfo:
                    primaryNameServers:
                      nameServerIpList:
                        nameServerIP1:
                          ip: 1.2.3.4
                          tsigKey: key1
                          tsigKeyValue: value1
                  changeComment: Adding new primary name server
          application/json-patch+json:
            schema:
              type: array
              description: JSON Patch operations for partial zone updates
              items:
                type: object
                properties:
                  op:
                    type: string
                    enum:
                      - add
                      - remove
                      - replace
                      - copy
                      - move
                      - test
                    description: The operation to be performed
                  path:
                    type: string
                    description: A JSON Pointer string specifying a location within the target document
                  value:
                    description: The value to be used within the operations
                required:
                  - op
                  - path
            examples:
              JSON Patch Example:
                summary: JSON Patch operations for zone updates
                value:
                  - op: replace
                    path: /primaryCreateInfo/tsig/tsigKeyName
                    value: NewTSIGKey
                  - op: add
                    path: /primaryCreateInfo/restrictIPList/-
                    value:
                      startIP: 192.168.1.100
                      endIP: 192.168.1.200
                      comment: New IP range
      responses:
        '200':
          description: Zone partially updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    get:
      tags:
        - Zones
      summary: List Zone Properties
      description: Retrieves metadata for a specific zone, including record count, name servers, status, type, and other zone-level properties.
      operationId: listZoneProperties
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      responses:
        '200':
          description: List Zone Properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  inherit:
                    type: string
                    example: ALL
                  properties:
                    $ref: '#/components/schemas/ZoneProperties'
                  registrarInfo:
                    $ref: '#/components/schemas/RegistrarInfo'
              examples:
                List Zone Properties:
                  value:
                    inherit: ALL
                    properties:
                      accountName: postman-example
                      dnssecStatus: UNSIGNED
                      lastModifiedDateTime: '2025-06-17T23:48:00Z'
                      name: domain.com.
                      owner: postman-example
                      resourceRecordCount: 7
                      status: ACTIVE
                      type: PRIMARY
                    registrarInfo:
                      nameServers:
                        missing:
                          - pdns1.ultradns.net.
                          - pdns2.ultradns.net.
                          - pdns3.ultradns.org.
                          - pdns4.ultradns.org.
                          - pdns5.ultradns.info.
                          - pdns6.ultradns.co.uk.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    delete:
      tags:
        - Zones
      summary: Delete a Zone
      description: The Delete Zone API allows you to delete any zone you have the proper authority to delete. You cannot delete a primary zone if it has an Alias zone.
      operationId: deleteZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneDelete'
            examples:
              Delete Zone with Change Comment:
                summary: Delete zone with a change comment
                value:
                  changeComment: Deleting Zone as agreed
      responses:
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '204':
          $ref: '#/components/responses/NoContentGeneric'
          description: Zone deleted successfully
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/transfer:
    post:
      tags:
        - Zones
      summary: Request Zone Transfer
      description: The Request Zone Transfer call sends an AXFR request through a Secondary Zone, to the primary name server in order to update the Secondary Zone with information from the Primary Zone.
      operationId: requestZoneTransfer
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
      responses:
        '200':
          description: Zone transfer completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Zone transfer completed successfully
              examples:
                Transfer Completed:
                  value:
                    message: Zone transfer completed successfully
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/convert:
    post:
      tags:
        - Zones
      summary: Convert a Zone
      description: The Convert Zone call converts a Secondary Zone into a Primary Zone.
      operationId: convertZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                changeComment:
                  type: string
                  description: Optional comment for the zone conversion
                  example: Converting zone 12/05/2020
            examples:
              Convert Zone with Change Comment:
                summary: Convert Zone with Change Comment
                value:
                  changeComment: Converting zone 12/05/2020
      responses:
        '201':
          description: Zone conversion completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Zone converted successfully
              examples:
                Conversion Completed:
                  value:
                    message: Zone converted successfully
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/unalias:
    post:
      tags:
        - Zones
      summary: Unalias a Zone
      description: |
        Unaliasing a zone is the process of converting an Alias Zone into a Primary Zone. When you unalias a zone, the following changes happen:

        - All of the data and zone configuration information is copied from the Primary to the Alias.
        - The Alias is converted into a Primary zone.
        - Any correlation between the original Primary and new Primary (formerly the Alias) is removed; the two are now wholly separate Primary zones.
      operationId: unaliasZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                changeComment:
                  type: string
                  description: An optional field allowing users to create a comment for a zone operation using up to 512 characters of free text, which can be viewed and searched for via the Audit Log Report. Not applicable for Batch or JSON Patch calls.
                  maxLength: 512
                  example: Unalias this zone. No longer required.
            examples:
              Unalias Zone with Change Comment:
                summary: Unalias Zone with Change Comment
                value:
                  changeComment: Unalias this zone. No longer required.
      responses:
        '200':
          description: Zone unalias completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Zone unaliased successfully
              examples:
                Unalias Completed:
                  value:
                    message: Zone unaliased successfully
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/suspend:
    post:
      tags:
        - Zones
      summary: Suspend a Zone
      description: |
        Suspending a zone allows you to temporarily stop serving data for a zone without deleting that zone. When you suspend a zone, the following changes happen:

        - The zone cannot be updated via a PUT or PATCH
        - Performing a GET will still return zone data
      operationId: suspendZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                changeComment:
                  type: string
                  description: An optional field allowing users to create a comment for a zone operation using up to 512 characters of free text, which can be viewed and searched for via the Audit Log Report. Not applicable for Batch or JSON Patch calls.
                  maxLength: 512
                  example: Suspend this zone. No longer active.
            examples:
              Suspend Zone with Change Comment:
                summary: Suspend Zone with Change Comment
                value:
                  changeComment: Suspend this zone. No longer active.
      responses:
        '200':
          description: Zone suspended successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Zone suspended successfully
              examples:
                Suspend Completed:
                  value:
                    message: Zone suspended successfully
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/snapshot:
    get:
      tags:
        - Zones
      summary: Get Snapshot of a Zone
      description: Get Snapshot of a Zone.
      operationId: getZoneSnapshot
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      responses:
        '200':
          description: Zone Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneSnapshot'
              examples:
                Zone Snapshot:
                  value:
                    zoneName: 00-ben-doc-test.com
                    rrSets:
                      - ownerName: def.00-ben-doc-test.com.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 204.74.99.100
                      - ownerName: 00-ben-doc-test.com.
                        rrtype: NS (2)
                        ttl: 500
                        rdata:
                          - udns1.ultradns.net.
                          - udns2.ultradns.net.
                      - ownerName: rd.00-ben-doc-test.com.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 3.4.5.6
                        profile:
                          '@context': http://schemas.ultradns.com/RDPool.jsonschema
                          order: ROUND_ROBIN
                          description: rd pool
                    webForwards:
                      - guid: 090845B113499BEB
                        requestTo: abc.com.00-ben-doc-test.com/requestTo.html
                        defaultRedirectTo: http://abc.com/redirectTo.html
                        defaultForwardType: HTTP_301_REDIRECT
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    post:
      tags:
        - Zones
      summary: Create a Snapshot of a Zone
      description: |
        Create a Snapshot of a Zone - Deletes previously saved Snapshots of the zone.

        **Important Notes:**
        - Snapshot activity is final and cannot be rolled-back.
        - A zone can have a maximum of one Snapshot at a time. A zone snapshot request will either create a Snapshot (if it does not already exist), or will overwrite the existing Snapshot (if it already exists).
        - Snapshot is only allowed for zones that meet the following criteria:
          - Snapshot only supports primary zones.
          - The zone should not have more than 50,000 records, including the allowed pool's resource records.
          - The zone should only have:
            - Basic Resource Records.
            - Resource Distribution Pools
            - Directional DNS Pools
            - Load Balancing pools
            - Simple Monitor / Failover pools
            - Simple Load Balancing pools
            - Web Forwarding
          - The zone should not have:
            - Mail Forwarding
          - Additionally, Snapshot does not support the following types of zones:
            - Signed zones
            - Secondary zones
            - Alias zones
            - Suspended zones
        - Snapshot is a background activity; it is highly recommended to refrain from performing any activity that could change the zone configuration while a Snapshot is in-progress. Doing so might lead to data inconsistency or other unexpected results.
        - A user with basic READ permissions on a zone and its resource records may be allowed to take a zone Snapshot.
      operationId: createZoneSnapshot
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Snapshot description.
                  example: Backup snapshot before major changes
            example:
              description: Backup snapshot before major changes
      responses:
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    delete:
      tags:
        - Zones
      summary: Delete the snapshot of a Zone
      description: Delete the snapshot of a Zone.
      operationId: deleteZoneSnapshot
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      responses:
        '204':
          $ref: '#/components/responses/NoContentGeneric'
          description: Snapshot deleted successfully
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/restore:
    post:
      tags:
        - Zones
      summary: Restore the Zone Snapshot
      description: |
        Restore the Zone Snapshot.

        **Important Notes:**
        - Restore activity is final and cannot be rolled-back.
        - Restore is only allowed for zones that meet the following criteria:
          - Restore only supports primary zones.
          - The zone should not have more than 50,000 records, including the allowed pool's resource records.
          - The zone should only have:
            - Basic Resource Records.
            - Resource Distribution Pools
            - Directional DNS Pools
            - Load Balancing pools
            - Simple Monitor / Failover pools
            - Simple Load Balancing pools
            - Web Forwarding
          - The zone should not have:
            - Mail Forwarding
          - Additionally, Restore does not support the following types of zones:
            - Signed zones
            - Secondary zones
            - Alias zones
            - Suspended zones
        - If a Zone Snapshot contains a Directional (DIR) pool with Global Account Level GEO and Source IP groups, once the Restore operation is completed, the Account level GEO and Source IP groups will be converted to the local pool level groups.
        - To further clarify the previous point about the Restore functionality, a zone must also satisfy the above criteria at the time of the Restore operation. For example, if a zone was signed after a Snapshot was created, or a directional pool was added, or the number of records exceeded 50,000, the Restore operation will not be allowed.
        - Restore is a background activity; it is highly recommended to refrain from performing any activity that could change the zone configuration while a Restore is in-progress. Doing so might lead to data inconsistency or other unexpected results.
        - A user might require full READ, WRITE, UPDATE and DELETE permissions on the zone and all of its resource records to Restore a Snapshot.
      operationId: restoreZoneSnapshot
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      responses:
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/rrsets:
    get:
      tags:
        - Records
      summary: List all RRSets in a Zone
      description: |
        This call provides a list of all RRSets in a zone, or if specific query parameters are used, a list of the RRSets in a zone that match the provided criteria.

        ## Query Parameter (q)

        The `q` parameter allows filtering RRSets using various operators. Multiple operators can be combined using the `+` separator.

        **Query Operators:**

        - **TTL**: Exact match for the TTL value. Only valid for RECORDS RRSets type; ignored for other kinds of RRSets.
        - **Owner**: Partial match to an owner name. Valid for all RRSets.
        - **Value**: Partial match for the rdata for a resource record. Only valid for the RECORDS RRSet type; ignored for other kinds of RRSets.
        - **Kind** (defaults to ALL): The kind of RRSets or Pools that will be returned. One or more types can be specified if separated by commas.

        **Kind Values:**

        | Value | Meaning |
        |-------|---------|
        | ALL | All pools and records (same as RECORDS,POOLS) |
        | RECORDS | Only resource Records |
        | POOLS | All Pools |
        | RD_POOLS | Only RD Pools (Resource Distribution Pools) |
        | DIR_POOLS | Only Directional Pools |
        | SB_POOLS | Only Simple Load Balancing Pools |
        | TC_POOLS | Only Traffic Controller Pools |

        **Query Examples:**
        - `kind:RD_POOLS` - Return all RD Pools in the zone
        - `ttl:300+owner:test+kind:RECORDS` - Records with TTL 300 and owner containing "test"
        - `kind:RECORDS,RD_POOLS` - Both records and RD Pools
        - `owner:mail+kind:POOLS` - All pools with owner containing "mail"
      operationId: listRrsetsInZone
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/QueryParams'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
          description: |
            The sort column used to define the order of the list. Valid values are:
            - OWNER (default)
            - TTL
            - TYPE (specifies the Record type)
          example: TYPE
        - $ref: '#/components/parameters/Reverse'
        - $ref: '#/components/parameters/SystemGeneratedStatus'
      responses:
        '200':
          description: List of RRSets in the zone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RRSetsList'
              examples:
                List all RRSets:
                  summary: List all RRSets for a Zone
                  value:
                    zoneName: primary-example.com.
                    rrSets:
                      - ownerName: arecord.primary-example.com.
                        rrtype: A (1)
                        ttl: 500
                        rdata:
                          - 1.1.1.1
                      - ownerName: arecord.primary-example.com1.primary-example.com.
                        rrtype: A (1)
                        ttl: 500
                        rdata:
                          - 1.1.1.1
                      - ownerName: arecord.primarytest.com.primary-example.com.
                        rrtype: A (1)
                        ttl: 500
                        rdata:
                          - 2.2.2.2
                      - ownerName: arecord.primarytest.com.primary-example.com.
                        rrtype: AAAA (28)
                        ttl: 500
                        rdata:
                          - fdda:5cc1:23:4:0:0:0:1f
                    queryInfo:
                      q: kind:ALL
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 4
                      offset: 0
                      returnedCount: 4
                List RRSets with Query Parameters:
                  summary: List RRSets with Query Parameters and systemGeneratedStatus
                  value:
                    zoneName: primary-example.com.
                    rrSets:
                      - ownerName: srvrecord.primarytest.com.primary-example.com.
                        rrtype: SRV (33)
                        ttl: 500
                        rdata:
                          - 1 5 81 test.primarytest.com.
                        systemGenerated:
                          - false
                          - false
                      - ownerName: spfrecord.primarytest.com.primary-example.com.
                        rrtype: SPF (99)
                        ttl: 500
                        rdata:
                          - '"spfrecorddata"'
                        systemGenerated:
                          - false
                      - ownerName: rprecord.primarytest.com.primary-example.com.
                        rrtype: RP (17)
                        ttl: 500
                        rdata:
                          - mail1.primary-example.com. text1.primary-example.com.
                        systemGenerated:
                          - false
                          - true
                      - ownerName: ptrrecord.primarytest.com.primary-example.com.
                        rrtype: PTR (12)
                        ttl: 500
                        rdata:
                          - test1.primarytest.com.primary-example.com.
                        systemGenerated:
                          - false
                    queryInfo:
                      q: ttl:300+owner:test+kind:RECORDS
                      sort: TYPE
                      reverse: true
                      limit: 100
                    resultInfo:
                      totalCount: 4
                      offset: 0
                      returnedCount: 4
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    patch:
      tags:
        - Records
      summary: Create Zone via BIND File Upload
      description: |
        This call creates a Zone by uploading a BIND file containing the zone data. The Zone details must be attached in a BIND file and sent as multipart/form-data.

        **New Update**: The BIND Upload of zone feature now supports the usage of whitespaces as a hostname in the BIND file. Referring to RFC-1035, newly supported behavior is described as follows - "If an entry for an RR begins with a blank, then the RR is assumed to be owned by the last stated owner. If an RR entry begins with a <domain-name>, then the owner name is reset."

        **Important Notes:**
        - Do not add any JSON content or BIND file content as text in the request body
        - The file must be uploaded using multipart/form-data
      operationId: createZoneViaBindUpload
      parameters:
        - $ref: '#/components/parameters/ZoneName'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: |
                    The BIND file containing zone data. The file should contain DNS records in BIND format.

                    **BIND File Format:**
                    - Each line represents a DNS record
                    - Records can span multiple lines using parentheses
                    - Comments start with semicolon (;)
                    - $ORIGIN directive sets the zone origin
                    - Records without owner name inherit from the last stated owner
                    - Records with owner name reset the owner context
                  example: |
                    ;File created: 12/04/2019 12:07
                    ;Record count: 20
                    $ORIGIN upload-test.com.
                    @    86400    IN    SOA udns1.ultradns.net. BindZone\.testzone.example.biz. (
                            2019041222    ;Serial
                            86400        ;Refresh
                            86400        ;Retry
                            86400        ;Expire
                            86400        ;Minimum
                        )
                    owner3    300    IN    NS    ns1.nameserver.com.
                    @    86400    IN    NS    udns1.ultradns.net.
                    @    86400    IN    NS    udns2.ultradns.net.
                    owner1    100    IN    A    12.12.12.12
                    owner4    400    IN    CNAME    cname1.com.
                    owner13   800    IN    MB    mail2.upload-test.com.
                    owner14   900    IN    WKS    12.12.14.12 6 26
                    owner8    500    IN    PTR    test.addr2.com.
                    owner7    403    IN    HINFO    "32bits" "windows"
                    owner6    402    IN    MX    10 mail2.upload-test.com.
                    owner5    401    IN    TXT    "abcdefghijklmnopqrstabcdefghijklmnopqrst"
                    owner12   700    IN    RP    mail1.addr.arpa. text1.addr.arpa.
                    owner15   1000   IN    KEY    33 44 44 test
                    owner2    200    IN    AAAA    2001:db8:85a3:0:0:8a2e:370:7334
                    owner16   1100   IN    NXT    test1.upload-test.com. SSHFP
                    owner11   602    IN    SRV    1 5 81 test.addr.com.
                    owner9    600    IN    NAPTR    100 6 "u" "E2U+smtp" "!^.*$!mailto:information@addr.com!i" .
                    owner17   1200   IN    SSHFP    32 44 AD
                    owner10   601    IN    SPF    "aaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaax2rgthhyuiyaaa" "x2rgthhyuiy"
            encoding:
              file:
                contentType: text/plain
      responses:
        '202':
          description: BIND file upload accepted for processing
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/rrsets/{recordType}:
    get:
      tags:
        - Records
      summary: List all RRSets by Type
      description: |
        This call allows you to list all RRSets of a particular Record type for a specified zone. This differs from the List all RRSets in a Zone because that call returns RRSets of records based on the kind of set or pool, while this call returns RRSets based on the record type.

        The Type can be a DNS record name (for example A, TXT, AAAA, SRV), or a number value that corresponds to a resource record type.

        ## Query Parameter (q)

        The `q` parameter allows filtering RRSets using various operators. Multiple operators can be combined using the `+` separator.

        **Query Operators:**

        - **TTL**: Exact match for the TTL value. Only valid for RECORDS RRSets type; ignored for other kinds of RRSets.
        - **Owner**: Partial match to an owner name. Valid for all RRSets.
        - **Value**: Partial match for the rdata for a resource record. Only valid for the RECORDS RRSet type; ignored for other kinds of RRSets.
        - **Kind** (defaults to ALL): The kind of RRSets or Pools that will be returned. One or more types can be specified if separated by commas.

        **Kind Values:**

        | Value | Meaning |
        |-------|---------|
        | ALL | All pools and records (same as RECORDS,POOLS) |
        | RECORDS | Only resource Records |
        | POOLS | All Pools |
        | RD_POOLS | Only RD Pools (Resource Distribution Pools) |
        | DIR_POOLS | Only Directional Pools |
        | SB_POOLS | Only Simple Load Balancing Pools |
        | TC_POOLS | Only Traffic Controller Pools |

        **Query Examples:**
        - `ttl:300+owner:test+kind:RECORDS` - Records with TTL 300 and owner containing "test"
        - `kind:RD_POOLS` - Return all RD Pools of this record type
        - `owner:mail+kind:POOLS` - All pools with owner containing "mail"
      operationId: listRrsetsByType
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/RecordType'
        - $ref: '#/components/parameters/QueryParams'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
          description: |
            The sort column used to define the order of the list. Valid values are:
            - OWNER (default)
            - TTL
            - TYPE (specifies the Record type)
          example: OWNER
        - $ref: '#/components/parameters/Reverse'
        - $ref: '#/components/parameters/SystemGeneratedStatus'
      responses:
        '200':
          description: List of RRSets of the specified type in the zone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RRSetsList'
              examples:
                List A Records:
                  summary: List all A records in a zone
                  value:
                    zoneName: example.com.
                    rrSets:
                      - ownerName: www.example.com.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 192.168.1.1
                      - ownerName: mail.example.com.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 192.168.1.2
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 2
                      offset: 0
                      returnedCount: 2
                List TXT Records:
                  summary: List all TXT records in a zone
                  value:
                    zoneName: example.com.
                    rrSets:
                      - ownerName: example.com.
                        rrtype: TXT (16)
                        ttl: 3600
                        rdata:
                          - '"v=spf1 include:_spf.google.com ~all"'
                      - ownerName: _dmarc.example.com.
                        rrtype: TXT (16)
                        ttl: 3600
                        rdata:
                          - '"v=DMARC1; p=quarantine; rua=mailto:dmarc@example.com"'
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 2
                      offset: 0
                      returnedCount: 2
                List MX Records:
                  summary: List all MX records in a zone
                  value:
                    zoneName: example.com.
                    rrSets:
                      - ownerName: example.com.
                        rrtype: MX (15)
                        ttl: 3600
                        rdata:
                          - 10 mail1.example.com.
                          - 20 mail2.example.com.
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
  /zones/{zoneName}/rrsets/{recordType}/{ownerName}:
    get:
      tags:
        - Records
      summary: List all RRSets of a Type for an Owner
      description: |
        This call returns a list of RRSets of a specified type for the Owner Name provided in the call.

        The identified Type can be any of the following:
        - A DNS record-type name (A, TXT, AAAA, SRV)
        - A number corresponding to a resource record type (from 1 to 65535)
        - The special reserved word "ANY", which will return all RRSets for the specified owner name

        Owner name can be a relative name (does not include the zone name), or an absolute name (includes the zone name).

        **Important Notes:**
        - Using a query parameter with an owner name is automatically a string-match search; it will return all owner names that contain the specified string
        - When the owner name is specified as part of the URI, the search will return only the RRSets for the owner name that exactly matches the specified name
      operationId: listRrsetsByTypeAndOwner
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/RecordType'
        - $ref: '#/components/parameters/OwnerName'
        - $ref: '#/components/parameters/SystemGeneratedStatus'
      responses:
        '200':
          description: List of RRSets of the specified type for the specified owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RRSetsList'
              examples:
                List A Records for Owner:
                  summary: List all A records for a specific owner
                  value:
                    zoneName: domain.name.
                    rrSets:
                      - ownerName: test.domain.name.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 9.8.7.6
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
                List All Records for Owner:
                  summary: List all RRSets for a specific owner using ANY type
                  value:
                    zoneName: domain.name.
                    rrSets:
                      - ownerName: test.domain.name.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 9.8.7.6
                      - ownerName: test.domain.name.
                        rrtype: TXT (16)
                        ttl: 300
                        rdata:
                          - The quick brown fox jumped over the lazy dog
                          - Here is another TXT record in the RRSet
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 2
                      offset: 0
                      returnedCount: 2
                List Records with System Generated Status:
                  summary: List records with systemGenerated attribute
                  value:
                    zoneName: domain.name.
                    rrSets:
                      - ownerName: test.domain.name.
                        rrtype: A (1)
                        ttl: 300
                        rdata:
                          - 9.8.7.6
                        systemGenerated:
                          - false
                      - ownerName: test.domain.name.
                        rrtype: TXT (16)
                        ttl: 300
                        rdata:
                          - The quick brown fox jumped over the lazy dog
                          - Here is another TXT record in the RRSet
                        systemGenerated:
                          - false
                          - false
                    queryInfo:
                      q: kind:RECORDS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 2
                      offset: 0
                      returnedCount: 2
                List Apex Alias Record:
                  summary: List APEXALIAS record for domain apex
                  description: |
                    Shows an Apex Alias record configured at the zone apex. Note that the rrtype 
                    shows "APEXALIAS (65282)" where 65282 is the numeric type code for Apex Alias records.
                  value:
                    zoneName: ultratest.biz.
                    rrSets:
                      - ownerName: ultratest.biz.
                        rrtype: APEXALIAS (65282)
                        ttl: 300
                        rdata:
                          - mywebfront.mysecretcdn.com.
                    queryInfo:
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
                List SSHFP Record:
                  summary: List SSHFP record for SSH fingerprint verification
                  description: |
                    Shows an SSHFP record used for SSH key verification. The rrtype shows "SSHFP (44)" 
                    where 44 is the numeric type code for SSHFP records. The rdata contains the algorithm, 
                    type, and fingerprint values.
                  value:
                    zoneName: ultratest.biz.
                    rrSets:
                      - ownerName: www.sshfp.com.ultratest.biz.
                        rrtype: SSHFP (44)
                        ttl: 100
                        rdata:
                          - 1 2 6E657573746172
                    queryInfo:
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
                List DS Record:
                  summary: List DS record for DNSSEC delegation signing
                  description: |
                    Shows a DS record used for DNSSEC delegation signing. The rrtype shows "DS (43)" 
                    where 43 is the numeric type code for DS records. The rdata contains the key tag, 
                    algorithm, digest type, and digest values.
                  value:
                    zoneName: ultratest.biz.
                    rrSets:
                      - ownerName: www.ultradstest.com.ultratest.biz.
                        rrtype: DS (43)
                        ttl: 800
                        rdata:
                          - 1000 8 1 A94A8FE5CCB19BA61C4C0873D391E987982FBBD3
                    queryInfo:
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
                List RD Pool A Record:
                  summary: List A record with Resource Distribution Pool
                  description: |
                    Shows an A record configured with an RD Pool profile. The profile contains
                    the pool configuration including ordering method and description.
                  value:
                    zoneName: andria.com.
                    rrSets:
                      - ownerName: redredrobin.andria.com.
                        rrtype: A (1)
                        ttl: 86400
                        rdata:
                          - 198.16.1.22
                          - 192.168.2.56
                        profile:
                          '@context': http://schemas.ultradns.com/RDPool.jsonschema
                          order: ROUND_ROBIN
                          description: T. migratorius
                    queryInfo:
                      q: kind:POOLS
                      sort: OWNER
                      reverse: false
                      limit: 100
                    resultInfo:
                      totalCount: 1
                      offset: 0
                      returnedCount: 1
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    post:
      tags:
        - Records
      summary: Create RRSet for an Owner
      description: |
        The Create RRSet for an Owner call requires you to send an Resource Record Set (RRSet) DTO with the call. However, the ownerName and rrtype fields are not required because they are specified in the URI. If the DTO you send does include them, they will be ignored.
      operationId: createRrsetForOwner
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/RecordType'
        - $ref: '#/components/parameters/OwnerName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RRSet'
            examples:
              A Record:
                summary: Create an A-type RRSet
                value:
                  ttl: 300
                  rdata:
                    - 1.2.3.4
              AAAA Record:
                summary: Create an AAAA-type RRSet
                value:
                  ttl: 300
                  rdata:
                    - 2001:db8::1
              MX Record:
                summary: Create an MX-type RRSet
                value:
                  ttl: 3600
                  rdata:
                    - 10 mail1.example.com.
                    - 20 mail2.example.com.
              TXT Record:
                summary: Create a TXT-type RRSet
                value:
                  ttl: 3600
                  rdata:
                    - '"v=spf1 include:_spf.google.com ~all"'
              CNAME Record:
                summary: Create a CNAME-type RRSet
                value:
                  ttl: 300
                  rdata:
                    - www.example.com.
              SRV Record:
                summary: Create an SRV-type RRSet
                value:
                  ttl: 300
                  rdata:
                    - 1 5 81 test.example.com.
              Apex Alias Record:
                summary: Create an APEXALIAS-type RRSet for domain apex
                description: |
                  Apex Alias provides CNAME functionality at the domain apex. 

                  **Important Constraints:**
                  - Can only be created at the apex of the domain (ownerName must match zoneName)
                  - Only one Apex Alias record can be configured per zone
                  - Cannot be created on signed zones
                  - Cannot coexist with both A and AAAA records at the zone apex
                  - pointsTo must be a fully qualified domain name
                  - pointsTo cannot be the same as the zone apex
                value:
                  ttl: 300
                  rdata:
                    - mywebfront.mysecretcdn.com.
              SSHFP Record:
                summary: Create an SSHFP-type RRSet for SSH fingerprint verification
                description: |
                  Secure Shell Fingerprint (SSHFP) record identifies SSH keys associated with a host.
                  Used for SSH key verification when connecting to SSH servers.

                  **Record Format:** "algorithm type fingerprint"
                  - **Algorithm**: 1=RSA, 2=DSS, 3=ECDSA, 4=Ed25519
                  - **Type**: 1=SHA-1, 2=SHA-256 (hash algorithm)
                  - **Fingerprint**: Hexadecimal representation of the hash result
                value:
                  ttl: 100
                  rdata:
                    - 1 2 6E657573746172
              DS Record:
                summary: Create a DS-type RRSet for DNSSEC delegation signing
                description: |
                  Delegation Signer (DS) record is used in DNSSEC to indicate that a delegated zone 
                  is digitally signed. The DS record is placed in the parent zone and points to a 
                  DNSKEY record in the child zone.

                  **Record Format:** "keytag algorithm digesttype digest"
                  - **Key Tag**: Key tag value of the DNSKEY RR (integer)
                  - **Algorithm**: 8=RSA/SHA-256, 13=ECDSA Curve P-256 with SHA-256
                  - **Digest Type**: 1=SHA-1, 2=SHA-256
                  - **Digest**: Hexadecimal string (40 characters for SHA-1, 64 for SHA-256)
                value:
                  ttl: 500
                  rdata:
                    - 1000 8 1 A94A8FE5CCB19BA61C4C0873D391E987982FBBD3
              RD Pool A Record:
                summary: Create an A-type RRSet with Resource Distribution Pool
                description: |
                  Resource Distribution (RD) Pool for A records with multiple IP addresses.

                  **Pool Ordering Options:**
                  - **FIXED**: Records appear in the same order all the time
                  - **RANDOM**: Order of the records is random on each request  
                  - **ROUND_ROBIN**: The order of the records changes on each request, in order

                  **Important Constraints:**
                  - RD Pools can only be defined for RRSets of type A (1) or AAAA (28)
                  - Multiple A or AAAA records for a single owner can only be defined if the owner is a pool
                  - It is legal to define an RD Pool with zero or one Rdata records
                value:
                  ttl: 300
                  rdata:
                    - 1.2.3.4
                    - 2.4.6.8
                    - 9.8.7.6
                  profile:
                    '@context': http://schemas.ultradns.com/RDPool.jsonschema
                    order: RANDOM
                    description: This is a great RD Pool
              RD Pool AAAA Record:
                summary: Create an AAAA-type RRSet with Resource Distribution Pool
                description: |
                  Resource Distribution (RD) Pool for AAAA records with multiple IPv6 addresses using round robin ordering.
                value:
                  ttl: 300
                  rdata:
                    - 2001:db8::1
                    - 2001:db8::2
                    - 2001:db8::3
                  profile:
                    '@context': http://schemas.ultradns.com/RDPool.jsonschema
                    order: ROUND_ROBIN
                    description: IPv6 RD Pool for load balancing
      responses:
        '201':
          $ref: '#/components/responses/CreatedGeneric'
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    put:
      tags:
        - Records
      summary: Update an RRSet
      description: |
        This call allows you to update a set of resource records of a particular type (an RRSet) for a specified domain owner.

        Be sure to specify the TTL and ALL of the record information. Any resource records not included will be removed from the RRSet, and the TTL value specified at the account level for the record type (or global TTL value) will be used.
      operationId: updateRrset
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/RecordType'
        - $ref: '#/components/parameters/OwnerName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RRSet'
            examples:
              Update A Record:
                summary: Update an A-type RRSet with multiple IPs
                value:
                  ttl: 300
                  rdata:
                    - 1.2.3.4
                    - 5.6.7.8
              Update MX Record:
                summary: Update an MX-type RRSet with new mail servers
                value:
                  ttl: 3600
                  rdata:
                    - 10 mail1.example.com.
                    - 20 mail2.example.com.
                    - 30 mail3.example.com.
              Update TXT Record:
                summary: Update a TXT-type RRSet with new SPF record
                value:
                  ttl: 3600
                  rdata:
                    - '"v=spf1 include:_spf.google.com include:_spf.salesforce.com ~all"'
              Update CNAME Record:
                summary: Update a CNAME-type RRSet
                value:
                  ttl: 300
                  rdata:
                    - new-target.example.com.
              Update SRV Record:
                summary: Update an SRV-type RRSet with new service endpoints
                value:
                  ttl: 300
                  rdata:
                    - 1 5 81 test1.example.com.
                    - 2 5 81 test2.example.com.
              Update RD Pool A Record:
                summary: Update an A-type RRSet with Resource Distribution Pool
                description: |
                  Full update (PUT) of an existing RD Pool. The RD Pool profile must be fully specified.
                  All existing records will be replaced with the provided ones.

                  **Use PUT for:**
                  - Changing the order of records in the RD Pool
                  - Removing records from the RD Pool
                  - Full replacement of the RD Pool configuration
                value:
                  ttl: 86400
                  rdata:
                    - 206.204.52.32
                    - 216.12.145.20
                    - 1.2.3.6
                    - 1.2.3.5
                  profile:
                    '@context': http://schemas.ultradns.com/RDPool.jsonschema
                    order: ROUND_ROBIN
                    description: www
      responses:
        '200':
          description: RRSet updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: RRSet updated successfully
              examples:
                Success Response:
                  value:
                    message: RRSet updated successfully
        '202':
          $ref: '#/components/responses/AcceptedGeneric'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        5XX:
          $ref: '#/components/responses/Error5xx'
    patch:
      tags:
        - Records
      summary: Partially Update an RRSet
      description: |
        This call allows you to update some of the information in a set of resource records of a particular type (an RRSet) for a specified domain owner.

        This differs from the Update RRSet call in two ways:
        - If you do not specify the TTL, the existing TTL will continue to be used
        - Any resource records specified will be added to the RRSet. Existing records are not modified or removed (except for A and CNAME records)

        **Special Case for A and CNAME Records:**
        Since only a single resource record is allowed in an A or CNAME RRSet, if you perform a partial update, you will modify the single resource record.

        **RD Pool Partial Update Behavior:**
        - For partial updates (PATCH) that do not affect the order or description, the profile section is not required
        - To add a record to an existing RD Pool, a partial update (PATCH) can be performed
        - To change the order of records or remove records, use full update (PUT) instead

        **Two Update Methods Supported:**
        1. **Regular PATCH**: Send an RRSet DTO with Content-Type: application/json
        2. **JSON PATCH**: Send JSON Patch DTOs with Content-Type: application/json-patch+json
      operationId: partiallyUpdateRrset
      parameters:
        - $ref: '#/components/parameters/ZoneName'
        - $ref: '#/components/parameters/RecordType'
        - $ref: '#/components/parameters/OwnerName'
      requestBody:
        required: true
        content:
          application/json:
            description: |
              Regular PATCH request using RRSet DTO. Use this for simple partial updates.

              **Behavior:**
              - If TTL is not specified, existing TTL will be used
              - New rdata entries will be added to existing ones
              - For A and CNAME records, the single record will be modified
              - For RD Pools, new records can be added without specifying the profile
            schema:
              $ref: '#/components/schemas/RRSet'
            examples:
              Partial Update A Record:
                summary: Partially update an A record (modifies the single record)
                value:
                  ttl: 600
                  rdata:
                    - 1.2.3.4
              Partial Update MX Record:
                summary: Partially update MX records (adds to existing records)
                value:
                  rdata:
                    - 30 mail3.example.com.
              Partial Update TXT Record:
                summary: Partially update TXT records (adds to existing records)
                value:
                  ttl: 3600
                  rdata:
                    - '"additional TXT record"'
              Partial Update RD Pool - Add Record:
                summary: Add a record to an existing RD Pool
                description: |
                  Add a new record to an existing RD Pool without specifying the profile.
                  The existing pool configuration (order, description) will be preserved.
                value:
                  rdata:
                    - 10.10.10.1
              Partial Update RD Pool - Full Profile:
                summary: Partially update RD Pool with full profile specification
                description: |
                  Update RD Pool with complete profile information. This matches the documentation
                  example for partial RD Pool updates.
                value:
                  ttl: 86400
                  rdata:
                    - 10.10.10.1
                  profile:
                    '@context': http://schemas.ultradns.com/RDPool.jsonschema
                    order: ROUND_ROBIN
                    description: www
          application/json-patch+json:
            description: |
              JSON PATCH request using RFC 6902 compliant JSON Patch DTOs. Use this for complex partial updates with multiple operations.

              **Features:**
              - Support for add, replace, remove, and move operations
              - Can update specific values within rdata entries using double indexing
              - Can perform multiple operations in a single request
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JSONPatch'
            examples:
              Update MX Records with JSON Patch:
                summary: Update specific values within MX records using double indexing
                value:
                  - op: replace
                    path: /rdata/0/1
                    value: new.mail.server.biz.
                  - op: replace
                    path: /rdata/1
                    value: 30 new3.mail.server.biz.
              Add and Remove Records with JSON Patch:
                summary: Add new records and remove existing ones
[...]
